
  <div class="container">

<div class="container mt-5 text-center">
  <h1 class="text-primary fw-bold">Welcome to your Crypto Dashboard, <%= current_user.first_name %>!</h1>

  <div class="mt-4">
    <%= link_to "Add your Crypto", cryptos_path, class: "btn btn-lg btn-success" %>
  </div>
</div>
