<div>
  <h1>Welcome to your Crypto Dashboard, <%= current_user.first_name %>!</h1>
<p>Track your investments here.</p>
<div class="">
 <%= link_to "View All Crypto", cryptos_path,  class: "" %>
 </div>
</div>
