<%# Main page %>
<div class=" bg-light">
 

  <main class="container text-center py-5">
    <div class="row align-items-center">
      <div class="col-md-8 mx-auto">
        <h1 class="display-4 text-primary fw-bold">Track Your Crypto Portfolio Like a Pro</h1>
        <p class="lead text-secondary">
          Take control of your crypto investments with <strong>CryptoAll</strong>.
          Easily save your trades, monitor performance, and stay ahead of the market.
        </p>
        <div class="mt-4">
          <%= link_to "Get Started Now", new_user_registration_path, class: "btn btn-primary btn-lg mx-2" %>
          <%= link_to "Learn More", new_user_registration_path, class: "btn btn-outline-primary btn-lg mx-2" %>
        </div>
      </div>
    </div>
  </main>
</div>
